/* header領域 */

.header {
  background-color: #303030;
  color: white;
}

.header-logo {
  display:flex;
  justify-content: flex-end;
}

.header-logo li {
  display: inline-block;
  margin-right: 30px;
}


/* main領域 */

.main-wrapper {
  padding-top: 1px; /* これをしないとheaderとmainの隙間が埋まらない */
  padding-bottom: 40px;
  background-color: #f4fafa;
}

#main-character {
  text-align: center;
  font-family: 'Comic Sans MS';
  font-size: 40px;
}

.main-about {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.main-left {
  width: 45%;
}

.main-right {
  width: 45%;
}

.main-right h2 {
  border-bottom-style: solid;
}

.ab-facephoto {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
  min-width: 200px;
  margin-bottom: 75px;
}

.ab-facephoto img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.ab-profile {
  background-color: #2f4f4f;
  color: white;
  padding: 10px;
}

.ab-skill ul {
  padding-left: 0px;
}

.ab-skill li {
  display: inline-block;
  width: 70px;
  margin-left: 0px;
  margin-right: 25px;
  list-style: none;
}

.ab-skill img {
  width: 70px;
  height: 70px;
}

.ab-skill p {
  text-align: center;
}

.ab-SNS img {
  width: 50px;
  height: 50px;
}


/* footer領域 */

.footer {
  background-color: #303030;
}

.footer-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}